.card {
  // border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  // align-self: flex-start;
  padding: 10px;
  margin: 10px;
  text-align: center;
  // color: #fff;
  max-width: 300px;
  background-position: bottom;
  font-size: 18px;
  border-radius: 11px;
  height: 330px;
  align-self: flex-start;
  img {
    max-width: 100%;
    // height: auto;
  }
}
.even {
  background-color: #ebebeb;
}
.odd{
  background-color: #F8F8F8;
}