.container {
  background-color: black;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 3rem;
  @media (max-width: 768px) {
    display: flex;
    img {
      display: none;
      width: 100px;
      height: auto;
    }
  }
}
