// .container {
//   margin-top: 20px;
//   width: 100%;
//   background-color: black;
//   overflow: visible;
//   position: relative;
//   height: 20vh;
//   text-align: center;
// }
.card-list {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    .card {
      max-width: calc(100% / 3);
      font-size: 12px;
      height: 250px;
    }
  }

  @media (max-width: 768px) {
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    // flex-direction: column;
    padding: 0;
  }
}
